.container
    margin 0 auto
    width 960px
    height 100%

body
    background-color crimson
    height 100%

div
    background-color antiquewhite

aside
    display block
    float right

article
    float right