.container
    margin 0 auto
    width 960px
    height 100%

body
    background-color black
    height 100%

div
    background-color white

#logs
    background-color blue
    color green

aside
    display block
    float right

article
    float right

#storeFront
    width 900
    height 480

#contact
    float left
    background-color black
    color white
    padding 15
    margin 29.2
    font-size 16

#map
    align right
    float right
    background-color black
    width 300
    height 200
    padding 15
    margin 29.2

footer
    background-color black
a
    font-size 24
b
    font-size 24

#shirtLaundry
    float right
    width 400

#tailorShop
    float left
    width 400