.container {
  margin: 0 auto;
  width: 960px;
  height: 100%;
}
body {
  background-color: #dc143c;
  height: 100%;
}
div {
  background-color: #faebd7;
}
aside {
  display: block;
  float: right;
}
article {
  float: right;
}
