{% extends "base.html" %}
{% block content %}
<h1>About Chichester Cleaners</h1>
<p>At Chichester Cleaners we do the following services</p>
<ul>
    <li>Laundry</li>
    <li>Organic Dry Cleaning</li>
    <li>Cleaning Household Items</li>
    <li>Leather and Suede cleaning</li>
    <li>Professional Alteration</li>
</ul>
<p>Please contact us or visit us to inquire about prices!</p>
<img src="../static/assets/shirtLaundry.jpeg" alt="Store Front" id="shirtLaundry">
<img src="../static/assets/tailorShop.jpeg" alt="Store Front" id="tailorShop">

{% endblock %}