<html>
<head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Scheduler</title>
    {% endif %}
</head>
<body>
<div class="container">
    <div id="header">
        <h4>SchedulerApp</h4>
        <a href="/index">Home</a>
        <b>|</b> <a href="/about">About</a>
        <b>|</b> <a href="/scheduler">Scheduler</a>
        <b>|</b> <a href="/contact">Contact me!</a>
    </div>
    <div id="logs">
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
        <aside>
            <article>
                <header>Title Goes Here</header>
                <section>Links go here</section>
                <footer>Contact Info Goes Here</footer>
            </article>
        </aside>
    </div>
</div>
</body>
</html>