{% extends "base.html" %}
{% block content %}
<h1>Contact</h1>
<div>
    <p>Chichester Cleaners
        <br>Phone Number: 610-485-4408
        <br>3601 Chichester Ave.
        <br>Boothwyn PA 19061
    </p>
</div>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12254.134723894907!2d-75.4422338!3d39.8398717!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcdf3a7f595eecbe9!2sChichester+Cleaners!5e0!3m2!1sen!2sus!4v1501353133173"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
{% endblock %}